* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #ff3232;
    --transparent-main: #ff32323f;
    --bg-color: #f2f3f7;
    --button-shadow:
      -6px -6px 8px rgba(255, 255, 255, 0.9),
      5px 5px 8px rgba(0, 0, 0, 0.07);
      --gray: rgb(76 76 76)
}

body {
    font-family: "Gabarito", sans-serif;
    background-color: var(--bg-color);
}

h1 {
    color: var(--main-color);
    font-size: xx-large;
    margin-bottom: 42px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.flex > div {
    width: 100%;
}

.flex-2 > div {
    width: 49% !important;
}

.flex-3 > div {
    width: calc(100% / 3 - 1%);
}

.center {
    align-items: center;
    justify-content: center;
}

section {
    padding: 40px 120px;
}

h3 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: medium;
    color: var(--gray);
}

p {
    font-size: xxx-large;
    height: calc(100% - 30px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: #605dff;
    padding: 25px;
    background: #f0e6ff;
    border-radius: 10px;
}

#blood-oxygen p {
    background: #ffd7d7;
    color: var(--main-color);
}

#map, #map-2 {
    height: 300px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 0;
}

.card {
    padding: 12px;
    border-radius: 12px;
    box-shadow: var(--button-shadow);
    margin-bottom: 40px;
}

section > .card:last-of-type {
    margin-bottom: 0;
}

#heartRateChart {
    max-height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.alerts {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.alert {
    background-color: #e74c3c;
    color: white;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 5px;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: center;
}

.status {
    color: #aaa;
}

.status.active {
    color: #00bc6e;
}

.status.inactive {
    color: #ff4a4a;
}

nav {
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: -200px;
    z-index: 10000;
    box-shadow: var(--button-shadow);
    background-color: var(--bg-color);
    -webkit-transition: .2s ease;
    transition: .2s ease;
}

nav.active {
    left: 0;
}

.humburger {
    width: 40px !important;
    padding: 10px 8px;
    height: 40px;
    background: var(--bg-color);
    box-shadow: var(--button-shadow);
    border-radius: 4px;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    position: absolute;
    top: 30px;
    right: -70px;
}

.humburger span {
    display: block;
    height: 2px;
    width: 100%;
    background: var(--main-color);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

nav ul li {
    display: block;
}

nav ul li h2 {
    padding: 15px 20px;
    margin-bottom: 20px;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: var(--gray);
}

nav ul li a.active {
    color: var(--main-color);
    background-color: var(--transparent-main);
}