
@media (max-width: 992px) {
    .flex-2 .flex-2, #heart-rate-chart {
        width: 100% !important;
    }

    .flex-3 > div {
        width: 49% !important;
    }
}

@media (max-width: 768px) {
    section {
        padding: 40px 60px;
    }

    .flex-2 > div, .flex-3 > div {
        width: 100% !important;
    }
}
